<div class="row">
	<div class="col-md-12 text-center">
		<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
		  <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['AgregarPoa']">POA</button>
		  <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['AgregarCaptura']">Captura</button>
		  <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['AgregarPartidas']">Partidas</button>
		  <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['AgregarMetas']">Metas</button>
		</div>
	</div>
</div>

<router-outlet></router-outlet>