<div class="row">
	<div class="col-md-12 text-center">
		<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
		  <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['ConsultarPoa']">POA</button>
		  <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['ConsultarCaptura']">Captura</button>
		  <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['ConsultarPartidas']">Partidas</button>
		  <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['ConsultarMetas']">Metas</button>
		</div>
	</div>
</div>