<h4>Modificar Partidas</h4>
<hr>
<form>

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label"># Partida</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="# Partida">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Monto Presupuestado</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Monto Presupuestado">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Monto Ejercido</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             placeholder="Monto Ejercido">
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Categoria/Significado</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             placeholder="Categoria/Significado">
      </div>
  </div>

  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>