<h4>Modificar Captura</h4>
<hr>
<form (ngSubmit)="saveData()" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Folio</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="folio"
               [(ngModel)]="newObjet.folio">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Departamento</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="departamento"
               [(ngModel)]="newObjet.departamento">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Proyecto</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             name="proyecto"
             [(ngModel)]="newObjet.proyecto">
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Accion</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             name="accion"
             [(ngModel)]="newObjet.accion">
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Partida</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             name="partida"
             [(ngModel)]="newObjet.partida">
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Monto</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             name="monto"
             [(ngModel)]="newObjet.monto">
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Proceso</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             name="proceso"
             [(ngModel)]="newObjet.proceso">
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Meta</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             name="meta"
             [(ngModel)]="newObjet.meta">
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Gestiono</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             name="gestiono"
             [(ngModel)]="newObjet.gestiono">
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Fecha</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
             name="fecha"
             [(ngModel)]="newObjet.fecha">
      </div>
  </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target='#insertData'>
        Guardar
      </button>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="insertData" tabindex="-1" role="dialog" aria-labelledby="succes" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="insertedData" class="modal-title" id="succes">Succes</h5>
        <h5 *ngIf="!insertedData" class="modal-title" id="fail">Failure</h5>
        <button (click)="navigate()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="insertedData" class="modal-body">Dato actualizado con exito</div>
      <div *ngIf="!insertedData" class="modal-body">Upss !!!</div>
      <div class="modal-footer">
        <button (click)="navigate()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</form>