<h4>Modificar Metas</h4>
<hr>
<form (ngSubmit)="saveData()" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label"># Meta</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="numero_meta"
               [(ngModel)]="newObjet.numero_meta">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Significado</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="meta_significado"
               [(ngModel)]="newObjet.meta_significado">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Descripcion</label>
      <div class="col-md-8">

        <input class="form-control"
             type="text"
               name="descripcion"
               [(ngModel)]="newObjet.descripcion">
      </div>
  </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target='#insertData'>
        Guardar
      </button>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="insertData" tabindex="-1" role="dialog" aria-labelledby="succes" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="insertedData" class="modal-title" id="succes">Succes</h5>
        <h5 *ngIf="!insertedData" class="modal-title" id="fail">Failure</h5>
        <button (click)="navigate()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="insertedData" class="modal-body">Dato actualizado con exito</div>
      <div *ngIf="!insertedData" class="modal-body">Upss !!!</div>
      <div class="modal-footer">
        <button (click)="navigate()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</form>